
/* SCSS HEX */
$primary: red;
//$primary: #560badff;
$success: #0f7173ff;
$info: #a9fbd7ff;
$warning: #ffd449ff;
$danger: #d64933ff;
$light: #f3f9d2ff;
$dark: #191919ff;

//$theme-colors: (
//        "primary": $primary,
//        //"success": $success,
//        //"info": $info,
//        //"warning": $warning,
//        //"danger": $danger,
//        //"light": $light,
//        //"dark": $dark
//);

@import "~bootstrap";

h1 {
  color: red;
}